{% extends 'base.html' %}
{% block content %}
{% load guardian_tags %}
  <h1>All Users</h1>
  <ul class="list-heading">
    <li>First Name</li>
    <li>Last Name</li>
    <li>IBAN</li>
    <li>
      <a class="btn right blue" href="{% url 'create_user' %}">Add User</a>
    </li>
  </ul>
  <ul class="users-list">
    {% for user in users %}
      <li>
        <span>{{user.first_name}}</span>
        <span>{{user.last_name}}</span>
        <span>{{user.iban}}</span>
        {% get_obj_perms request.user for user as "user_perms" %}
        {% if 'delete_user' in user_perms %}
        <a class="right" href="{% url 'delete_user' user.id %}">Delete</a>
        {% endif %}
        {% if 'edit_user' in user_perms %}
        <a class="right" href="{% url 'update_user' user.id %}">Edit</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}